// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

// COLORS
// dark grey: #01f1f1f
// white: #ffffff
$red: #fb3b17;



body {
  font-family: Serif;
  color: #ffffff;
}
// THIS IS THE BEGINNING OF THE  HEADER
// THIS IS THE END OF THE HEADER

// THIS IS THE BEGINNING OF THE INFO BAR
// THIS IS THE END OF THE INFO BAR


// THIS IS THE MAIN CONTENT
// THIS IS THE END OF THE MAIN CONTENT


// THIS IS THE FOOTER
.footer {
  p {
    color: $red;   
  }
  a {
    color: $red;
  }
  a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

}

// THIS IS THE END OF THE FOOTER
