// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
// COLORS
// dark grey: #01f1f1f;
// white: #ffffff;
// $red: #fb3b17;
//sans-serif: font-family: 'Open Sans Condensed', sans-serif;
//serif: Serif;

body {
  font-family: 'Open Sans Condensed', sans-serif;
  h3 {
  font-size: 32px;
  }
}
.wrapper {
  margin: 75px 150px;
  height: 933px;
  background: url("../images/audrey-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.bio {
  position: absolute;
  top: 30px;
  color: #ffffff;
  right: 0;
  h1 {
    margin-right: 85px;
    font-size: 47px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .red-rectangle-bio {
    background: red;
    height: 15px;
    width: 1500px;
    position: absolute;
    right: -800px;
  }
}
.intro-bio {
  position: absolute;
  width: 350px;
  top: 125px;
  color: #ffffff;
  right: 75px;
  font-weight: 300;
  line-height: 30px;
}
.skills {
  position: absolute;
  bottom: 30px;
  list-style: none;
  li {  
    color: #ffffff;
    margin-bottom: 15px;
    position: relative;
    font-size: 22px;
    a {
      color: #ffffff;
    }
    a:hover {
      color: #fb3b17;
      text-decoration: underline;
    }
    .red-rectangle {
      background: red;
      height: 15px;
      width: 1500px;
      position: absolute;
      left: -800px;
    }
  }
}
.footer {
  position: absolute;
  bottom: 30px;
  color: #fb3b17;
  right: 45px;
  a {
    color: #fb3b17;
  }
  a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  span {
    border-right: solid #fb3b17 1px;
    padding: 0 10px;
  }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  .wrapper {
    width: 100%;
    margin: 0;
    height: auto;
    background: url("../images/audrey-background-transparent.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
  }
  .bio {
    text-align: center;
    position: relative;
    h1 {
      margin-right: 0;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .red-rectangle-bio {
      background: red;
      height: 10px;
      width: 100%;
      position: absolute;
      right: 0;
    }
  }
  .intro-bio {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    padding-top: 100px;
    padding: 100px 55px 20px;
  }
  .skills {
    position: relative;
    bottom: auto;
    top: 0;
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
      position: relative;
      font-size: 22px;
      text-align: center;
      .red-rectangle {
        height: 10px;
        width: 100%;
        position: absolute;
        left: 0;
      }
    }
  }
  .footer {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    margin-top: 35px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    span {
      border-right: none;
      display: block;
    }
  }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 736px) {
   .wrapper {
    width: 100%;
    margin: 0;
    height: auto;
    background: url("../images/audrey-background-transparent.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
  }
  .bio {
    text-align: center;
    position: relative;
    h1 {
      margin-right: 0;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .red-rectangle-bio {
      background: red;
      height: 10px;
      width: 100%;
      position: absolute;
      right: 0;
    }
  }
   .intro-bio {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    padding-top: 100px;
    padding: 100px 75px 20px;
  }
  .skills {
    position: relative;
    bottom: auto;
    top: 0;
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
      position: relative;
      font-size: 22px;
      text-align: center;
      .red-rectangle {
        height: 10px;
        width: 100%;
        position: absolute;
        left: 0;
      }
    }
  }
  .footer {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    margin-top: 35px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    span {
      border-right: none;
      display: block;
    }
  }
}

@media only screen and (min-device-width : 736px) and (max-device-width : 980px) {
  .wrapper {
    width: 100%;
    margin: 0;
    height: auto;
    background: url("../images/audrey-background-transparent.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
  }
  .bio {
    text-align: center;
    position: relative;
    h1 {
      margin-right: 0;
      font-size: 56px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .red-rectangle-bio {
      background: red;
      height: 15px;
      width: 100%;
      position: absolute;
      right: 0;
    }
  }
  .intro-bio {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    padding-top: 100px;
    padding: 100px 175px 20px;
  }
  .skills {
    position: relative;
    bottom: auto;
    top: 0;
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
      position: relative;
      font-size: 28px;
      text-align: center;
      .red-rectangle {
        height: 15px;
        width: 100%;
        position: absolute;
        left: 0;
      }
    }
  }
  .footer {
    width: 100%;
    font-size: 24px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    span {
      border-right: none;
      display: block;
    }
  }
}

@media only screen and (min-device-width : 980px) and (max-device-width : 1280px) {
  .wrapper {
    width: 100%;
    margin: 0;
    height: auto;
    background: url("../images/audrey-background-transparent-980.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
  }
  .bio {
    text-align: center;
    position: relative;
    h1 {
      margin-right: 0;
      font-size: 72px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .red-rectangle-bio {
      background: red;
      height: 15px;
      width: 100%;
      position: absolute;
      right: 0;
    }
  }
  .intro-bio {
    position: relative;
    width: 75%;
    top: 0;
    right: 0;
    padding-top: 100px;
    padding: 100px 200px 20px;
    margin-bottom: 75px;
  }
  .skills {
    position: relative;
    bottom: auto;
    top: 0;
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
      position: relative;
      font-size: 28px;
      text-align: center;
      .red-rectangle {
        height: 15px;
        width: 100%;
        position: absolute;
        left: 0;
      }
    }
  }
  .footer {
    width: 100%;
    font-size: 24px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    span {
      border-right: none;
      display: block;
    }
  }
}


